


    /* Logo Modal */

.logo-modal{
    width:100vw;
    height:100vh;
    padding:0 var(--size1);
    box-sizing:border-box;

    position:absolute;
    top:0;
    left:0;

    transition:all 0.15s, top 0.5s, width 0s, height 0s;
    z-index:10000;
}

.hide-modal .logo-modal{
    top:-120%;
}

.logo-modal-inner{
    height:calc(100% - (var(--size1) * 2));
    margin:var(--size1) auto;
    padding:var(--size1);
    box-sizing:border-box;

    display:flex;
    justify-content:center;

    background-color:var(--shade3);
    box-shadow:var(--box-shadow1) var(--wrapperColor1), var(--box-shadow2) var(--wrapperColor1);
    border-radius:var(--mainRadius1);
    transition:0.15s;
}

.logo-modal-content{
    width:min(640px, 100%);
    height:100%;
    padding:var(--size1);
    box-sizing:border-box;
    position:relative;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:var(--size1);

    background-color:var(--shade1);
    box-shadow:var(--box-shadow1) var(--wrapperColor1), var(--box-shadow2) var(--wrapperColor1);
    border-radius:var(--mainRadius1);
    transition:0.15s;
}

        /* Logo Modal - Top */

.lm-top{
    margin-top:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.lm-logo{
    width:min(160px, 80%);
}

.lm-logo svg{
    width:100%;
}

.logo-modal .main-header{
    margin-bottom:0;
    line-height:1.2;
}

        /* Logo Modal - Main */
    
.lm-main{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.lm-heading{
    font-size:32px;
    text-align:center;
    text-transform:uppercase;
}

            /* Modal Icon */

.drop-zone{
    width:100%;
    margin:var(--size2) 0;
    display:flex;
    justify-content:center;
}

.modal-icon{
    width:min(275px, 100%);
    aspect-ratio:1/1;
    margin:auto;
    pointer-events:none;
}

.modal-icon *{
    stroke-width:8px;
    stroke:var(--txt-faded3);
    transition:0.25s;
}

                /* Modal Icon - Upload */

.modal-icon-active .lm-upload-inner{
    stroke:var(--color1);
}

.modal-drop .lm-upload-icon circle{
    stroke:var(--color1);
}

.lm-upload-arrow{
    animation:uploadIconMove 4.5s infinite;
}

.lm-upload-arrowshaft{
    animation:uploadIconShaft 4.5s infinite, uploadIconMove 4.5s infinite;
}

@keyframes uploadIconMove{
    25%{
        transform:translate(0, 0);
    }
    30%{
        transform:translate(0, -10px);
    }
    38%{
        transform:translate(0, 5px);
    }
    50%{
        transform:translate(0, 0);
    }
}

@keyframes uploadIconShaft{
    25%{
        stroke-dasharray:100;
        stroke-dashoffset:0;
    }
    30%{
        stroke-dasharray:60;
        stroke-dashoffset:-12;
    }
    38%{
        stroke-dasharray:80;
        stroke-dashoffset:-3;
    }
    50%{
        stroke-dasharray:100;
        stroke-dashoffset:0;
    }
}

                /* Modal Icon - Checkmark */

.lm-check-icon *{
    stroke:var(--color1);
}

.lm-check-circle{
    stroke-dasharray:600;
    stroke-dashoffset:600;
    animation:0.9s checkCircle forwards cubic-bezier(.14,.6,.56,.86);
}
    
.lm-checkmark{
    stroke-dasharray:150;
    stroke-dashoffset:150;

    animation:0.25s checkmark forwards cubic-bezier(.14,.6,.56,.86);
    animation-delay:0.8s;
}

@keyframes checkCircle{
    0%{
        stroke-dashoffset:600;
    }
    100%{
        stroke-dashoffset:0;
    }
}

@keyframes checkmark{
    0%{
        stroke-dashoffset:150;
    }
    100%{
        stroke-dashoffset:0;
    }
}
        
                /* Modal Icon - Wrong */

.lm-wrong-inner{
    stroke:var(--color2);
}

.lm-wrong-inner:nth-of-type(1){
    animation:wrongIcon 4.5s 0.25s infinite;
}

.lm-wrong-inner:nth-of-type(2){
    animation:wrongIcon 4.5s infinite;
}

@keyframes wrongIcon{
    25%{
        stroke-dasharray:115;
        stroke-dashoffset:0;
    }
    35%{
        stroke-dasharray:90;
    }
    45%{
        stroke-dashoffset:-10;
    }
    55%{
        stroke-dashoffset:0;
    }
    65%{
        stroke-dasharray:115;
    }
}

            /* Logo Modal - File Button */

.lm-txt-div{
    margin-bottom:5px;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:2px;
}

.lm-txt{
    font-size:16px;
}

.lm-file-btn{
    width:200px;
    height:50px;
    box-sizing:border-box;

    display:flex;
    justify-content:center;
    align-items:center;

    color:var(--txt1);
    font-size:20px;
    font-family:font1-semibold;
    text-transform:uppercase;

    border:solid 4px var(--color1);
    border-radius:200px;

    transition:0.15s;
    cursor:pointer;
}

.lm-file-btn:hover{
    color:#FFF;
    background-color:var(--color1);
}

.lm-file-type{
    margin-top:5px;
    font-size:14px;
}

        /* Logo Modal - Go To Page Button */

.to-page{
    margin-top:auto;

    height:0;
    aspect-ratio:2/1;
    box-sizing:border-box;

    display:flex;
    flex-direction:column;
    justify-content:space-between;
    gap:8px;

    transition:0.15s;
    cursor:pointer;
}

.uploaded-logo{
    height:60px;
}

.to-page *{
    display:none;
}

.uploaded-logo *{
    display:block;
}

.to-page p{
    font-size:14px;
    text-align:center;
    text-transform:uppercase;
}

.to-page:hover p{
    color:var(--color1);
    transition:0.15s;
}

.to-page svg{
    height:32px;
    box-sizing:border-box;
    position:relative;
    transition:0.15s;
}

.to-page:hover svg{
    padding-top:4px;
    transform:translate(0, 6px);
}

.to-page .scrollicon *{
    fill:var(--txt-faded3);
    transition:0.15s;
}

.to-page:hover .scrollicon *{
    fill:var(--color1);
}

        /* Logo Modal - media */

/* Page Height */

@media screen and (height <= 900px){

    .modal-icon{
        width:auto;
        height:20vh;
    }

}

@media screen and (height <= 768px){

    .logo-modal{
        --size1:var(--size2);
    }

    .lm-logo{
        width:20vh;
    }

    .modal-icon{
        height:100px;
    }

    .lm-txt-div{
        display:none;
    }

}

@media screen and (height <= 768px) and (orientation:landscape),
screen and (height <= 540px){

    .logo-modal-content{
        gap:10px;
    }

    .logo-modal .mh-title{
        font-size:6vh;
    }

    .lm-heading{
        font-size:4vh;
    }

    .drop-zone{
        margin:10px 0;
    }

    .to-page{
        height:auto;
    }

    .to-page p{
        display:none;
    }

    .to-page .scrollicon{
        height:24px;
    }

}

@media screen and (height <= 540px){
    
    .modal-icon{
        height:80px;
    }

}

@media screen and (height <= 440px){

    .lm-heading{
        margin-bottom:10px;
    }
    
    .drop-zone{
        display:none;
    }

}

/* Page Width */

@media screen and (width <= 540px){

    .logo-modal .mh-title{
        font-size:min(10vw, 6vh);
    }
    
    .lm-heading{
        font-size:6vw;
    }

}

@media screen and (width <= 440px){
    
    .lm-file-btn{
        width:100%;
    }

    .lm-txt-div{
        display:none;
    }

}

@media screen and (width <= 320px){
    
    .lm-file-btn{
        font-size:6vw;
    }

}

@media screen and (width <= 320px){
    
    .lm-heading{
        font-size:5vw;
    }

}



    /* Section */

.scrollto{
    width:100%;
    display:flex;
    flex-direction:column;
    gap:calc(var(--size1) * 0.5);
}

.scrollto:nth-of-type(1){
    padding-top:var(--size1);
}

.scrollto:nth-last-of-type(1){
    padding-bottom:var(--size1);
}

        /* Section - Heading */

.st-heading{
    width:calc(100% - var(--size1) * 2);
    padding:10px var(--size1);
    margin:0 var(--size1);
    box-sizing:border-box;
    position:relative;

    display:flex;
    flex-direction:column;
    align-items:center;

    background-color:var(--shade1);
    border-radius:var(--mainRadius1);
    box-shadow:var(--box-shadow1) var(--wrapperColor1), var(--box-shadow2) var(--wrapperColor1);

    z-index:100;
}

.st-title{
    color:var(--txt-faded2);
    font-size:52px;
    font-family:font1-semibold;
    text-align:center;
    text-transform:capitalize;
}

.st-subtitle{
    width:100%;
    color:var(--txt-faded2);
    text-align:center;
    text-wrap:balance;
}

        /* Section - Content */

.st-content{
    width:calc(100% - var(--size1) * 2);
    margin:0 var(--size1);
    padding:var(--size1);
    box-sizing:border-box;

    position:relative;
    left:-100vw;

    display:flex;
    flex-direction:column;
    align-items:center;

    background-color:var(--shade1);
    border-radius:var(--mainRadius1);
    box-shadow:var(--box-shadow1) var(--wrapperColor1), var(--box-shadow2) var(--wrapperColor1);
    transition:0.4s;
}

.hide-modal .fade-in .st-content{
    left:0;
    animation:layoutFadeIn 0.4s ease-out;
}

@keyframes layoutFadeIn{
    0%{
        left:100vw;
    }
    100%{
        left:0;
    }
}

        /* Section - Image */

.dark-mode.light-logo-bg .st-content{
    background-color:#444;
}

.dark-logo-bg:not(.dark-mode) .st-content{
    background-color:#BBB;
}

.insert-logo-img{
    width:100%;
}



    /* Your Logo */

.your-logo .insert-logo{
    width:min(500px, 100%);
}



    /* Balance */

.balance .insert-logo-img{
    filter:saturate(0)
}

.grid-overlay{
    width:100%;
    height:100%;

    position:absolute;
    top:0;
    left:0;

    display:grid;
    grid-template-columns:repeat(12, 1fr);
    grid-template-rows:repeat(8, 1fr);

    border-radius:var(--mainRadius1);
    overflow:hidden;
    z-index:10;
}

.grid-overlay:before,
.grid-overlay:after{
    content:"";
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background-color:rgb(100,115,125,0.15);
}

.grid-overlay:before{
    width:100%;
    height:4px;
}

.grid-overlay:after{
    width:4px;
    height:100%;
}

.grid-overlay-elem{
    border:solid 1px rgb(100,115,125,0.1);
}




